body{
    background-color: rgb(238, 237, 237);
}

nav{
    background-color: white;
}
.mainContent{
    width: 80%;
    margin: 2% auto;
    padding: 1%;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.buttonBack {
    position: absolute;
    top: 5px;
    color: black;
}
.buttonStar{
    width: 8%;
    border: none;
    background-color: white;
    color: rgb(238, 237, 237);
}

.buttonStarV{
    width: 8%;
    border: none;
    background-color: white;
    color: rgb(255, 197, 50);
}

.buttonHeart{
    border: none;
    background-color: white;
    color: gray;
}

.buttonSwitch{
    background-color: rgb(238, 237, 237);
    border-radius: 6px;
    
}

.buttonSwitch_select{
    outline:none;
    border: none;
    background-color: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}

.buttonSwitch_noselect{
    border: none;
    outline:none;
    background-color: none;
    border-radius: 6px;
}

.buttonBuy{
    background-color: rgb(202, 28, 28);
    width: 100%;
    color: white;
}



@media (max-width: 677px) {

    body {
        background-color: white;
    }
    .mainContent{
        padding: 0 !important;
        width: 100%;
        box-shadow: none;
    }

    .buttonBuy1{
        display: none;
    }

    .buttonBuy2{
        display: block;
    }

}