/*** Start - Style body *****/
.contenedor{
    margin-top: 20px;
    right:0;
    height:100px;
    width:50%;
    margin-left:43%;
    position:center;
  }
  .loading-text {
    margin-top: 20px;
    text-align: center;
    color: #666;
    font-size: 24px;
    font-family: 'Open Sans';
    clear:left;
  }
  .desaparece {
    margin-top: 20px;
    width: 100px;
    height: 100px;
    background-color: #fff;
    float: left;
    -webkit-animation: color 2.2s infinite alternate;
    animation:  color 2.2s infinite alternate;
   
  }
  .spinner {
    margin-top: 20px;
    width: 100px;
    height: 100px;
    float:left;
    background-color: crimson;
    
    -webkit-animation: rotar 3s infinite ease-in-out;
    animation: rotar 3s infinite ease-in-out;
  }
  .texto{
    text-align:center;
    display: block;
    font-size:50px;
    color:#fff;
    font-family: "Open Sans";
  }
  
  @-webkit-keyframes rotar {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(-180deg) }
    100% { -webkit-transform: perspective(120px)  rotateX(-180deg) }
    }
  @-webkit-keyframes color{
    0% { background-color:rgba(51, 51, 51, 0.05); }
    50% {background-color:rgba(51, 51, 51, .5);}
    100% {background-color:rgba(51, 51, 51, 1);}
  }
  @keyframes color{
   0% { background-color:rgba(51, 51, 51, 0.05); }
    50% {background-color:rgba(51, 51, 51, .5);}
    100% {background-color:rgba(51, 51, 51, 1);}
  }

  @media screen and (max-width:800px){
    .contenedor {
        width: 80%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
        margin-left:13%;

    }
 }
/*** End - Style body *****/

/***** Start - Style footer *****/
.footer-area{
    width: 100%;
    background-color: darkred;
 }
 .footer-area .group-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
 }
 .footer-area .group-1 .single-footer h3{
    color: aliceblue;
    margin-bottom: 25px;
    font-size: 20px;
    margin-left: 20px;
 }
 .footer-area .group-1 .single-footer li{
    color: aliceblue;
    margin-bottom: 0px;
    list-style: none;
    margin-left: -10px;
 }
 .footer-area .group-1 .single-footer i{
    color: aliceblue;
 }
 .footer-area .group-1 .single-footer a{
    display: inline-block;
    text-decoration: none;
    width: 300px;
    height: 10px;
    line-height: 30px;
    color: aliceblue;
    margin-right: 10px;
    text-align: justify;
    transition: all 300ms ease;
 }
 .footer-area .group-1 .single-footer a:hover{
    color: dodgerblue;
 }
 .footer-area .group-2{
    background-color: darkred;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
 }
 .footer-area .group-2 small{
    font-size: 15px;
 }
 @media screen and (max-width:800px){
    .footer-area .group-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
 }
/***** End - Style footer *****/