git p:root{
    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    --transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1)
}

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/***** Start - Navbar Style *****/
.main-list-offcanvas li {
    color: dodgerblue;
    margin-bottom: 0px;
    list-style: none;
    margin-left: 10px;
 }
 .main-list-offcanvas a {
    margin-top: 15px;
    display: inline-block;
    font-size: 24px;
    text-decoration: none;
    width: 300px;
    height: 15px;
    line-height: 30px;
    color: dodgerblue;
    margin-right: 50px;
    text-align: justify;
    transition: all 300ms ease;
 }
 /***** End - Navbar Style *****/
 
 /***** Start - Style Carousel *****/
 #bacground {
    background-image: url(../img/Banner.gif);
    background-size: cover;
 }
 
 .c-img {
    margin: 0px;
    padding: 20px;
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 @media screen and (max-width: 2400px){
    #container{
       background-size: contain;
       background-repeat: no-repeat;
       width: 70%;
       height: 70%;
       display: flex;
       justify-content: center;
       align-items: center;
    }   
 }  
 /***** End - Style Carousel *****/
 
 /***** Start - Style footer *****/
 .footer-area{   
    margin-top: 20px;
    width: 100%;
    background-color: darkred;
 }
 .footer-area .group-1{
    display: flex;
    justify-content: center;
    width: 100%;
 }
 .footer-area .group-1 .single-footer{
   display: flex;
   justify-content: center;
 }
 .footer-area .group-1 .single-footer h3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    margin-top: 20px;
    font-size: 25px;
 }
 .footer-area .group-1 .single-footer li{
    color: aliceblue;
    list-style: none;
    display: flex;
    justify-content: center;
 }
 .footer-area .group-1 .single-footer i{
    color: aliceblue;
 }
 .footer-area .group-1 .single-footer i:hover{
    color: dodgerblue;
 }
 .footer-area .group-1 .single-footer a{
    display: inline-block;
    text-decoration: none;
   
    color: aliceblue;
    margin-right: 10px;
    text-align: justify;
    transition: all 300ms ease;
 }
 .footer-area .group-1 .single-footer a:hover{
    color: dodgerblue;
 }
 .footer-area .group-2{
    background-color: darkred;
    padding: 15px 10px;
    text-align: center;
    color: grey;
 }
 .footer-area .group-2 small{
    font-size: 15px;
 }
 @media screen and (max-width:800px){
    .footer-area .group-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
 }
 /***** End - Style footer *****/
 
 

 body {
   font-family: var(--font-mono);
   background-image: url(https://orion91.com/blog/wp-content/uploads/2021/09/Cabecera-gaming-scaled.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height: 100vh;
}

.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://www.pcreviews.es/wp-content/uploads/0h7t9vjm7ti9rBRaN-1280x640.jpeg);
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.container {
   margin: 50px auto;
   padding: 20px;
   max-width: 500px;
   border: 2px solid rgba(0,0,0,.1);
   border-radius: 20px;
  background-color: #eee;
}

h2 {
   text-align: center;
   margin-bottom: 20px;
   font-size: 2.5em;
}

label {
   display: block;
   margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
   width: 100%;
   padding: 10px;
   margin-bottom: 15px;
   border-radius: 9px;
   border: none;
   outline-color: #003DFF;
   background-color: #eee;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
}

input[type="submit"] {
   background-color: #003DFF;
   color: #fff;
   padding: 10px 20px;
   border: none;
   border-radius: 9px;
   cursor: pointer;
   font-family: var(--font-mono);
   transition: var(--transition);
}

input[type="submit"]:hover {
   background-color: #45a049;
}

p {
   margin-top: 1.5em;
   text-align: center;
}

p a {
   text-decoration: none;
   color: #003DFF;
}
.text-principal{
    margin-top: 3em;
    text-align: center;
    background-color: #CC3434;
    color:#fff;
    padding: 1em;
  }
  .text-principal p{
    margin: 1em;
  }
  #nosotros{
    width: 30em;
    height: 30em;
    margin: 5em;
  }
  