:root{
    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    --transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1)
}

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: var(--font-mono);
}

.bg-image {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(https://one-tech.es/wp-content/uploads/2020/10/Razer-Iskur-1000x667.jpg);
	background-size: cover;
	background-position: center;
	z-index: -1;
}
.container {
    margin: 50px auto;
    padding: 20px;
    max-width: 500px;
    border: 2px solid rgba(0,0,0,.1);
    border-radius: 20px;
	background-color: #EE6F56;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5em;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 9px;
    border: none;
    outline-color: #003DFF;
    background-color: #eee;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
}

input[type="submit"] {
    background-color: #003DFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    font-family: var(--font-mono);
    transition: var(--transition);
}

input[type="submit"]:hover {
    background-color: #45a049;
}

p {
    margin-top: 1.5em;
    text-align: center;
}

p a {
    text-decoration: none;
    color: #003DFF;
}
